<div class="activity-detail">

  <div class="img-container"
    [style.background-image]="'url(https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg)'">
  </div>
  <div class="content">
    <div class="header-content">
      <div class="information">
        <h3 class="title">Nombre de la actividad</h3>
        <p class="schedule">Horario: 05/06/2020 - 8:00-09:00</p>
      </div>
      <button mat-flat-button color="primary">REGISTRARSE</button>
    </div>

    <mat-divider></mat-divider>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi assumenda nobis odit
      maxime, nemo voluptates
      nostrum eveniet natus sint. Quas distinctio sit, sapiente aperiam perspiciatis cumque consequatur aliquid
      tempore non! Voluptates iure quibusdam culpa natus ipsam mollitia possimus impedit est excepturi esse nisi
      perferendis vel eaque itaque nihil, recusandae deserunt at eveniet placeat, corrupti architecto, quam
      voluptate.
      Reiciendis alias placeat eum inventore iusto voluptatum, consequuntur recusandae esse aperiam nemo eaque
      facilis facere dolorem praesentium, nesciunt mollitia repellendus sunt nostrum corporis corrupti? Deserunt
      odit
      assumenda repellendus eaque, exercitationem non quo atque rerum vel possimus dicta asperiores, sunt autem
      officia, aliquid animi iste laboriosam totam quisquam maxime numquam neque doloremque? Dicta, quam a odit
      atque
      nam facere voluptas necessitatibus ab, nulla quisquam illum quis sapiente minima autem dolore numquam velit.
      Odit sequi cum ratione a reiciendis recusandae ut, perferendis hic quibusdam cupiditate?</p>
  </div>

</div>