.environments-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.environment-item {
    width: 300px;
}

.environment-item:hover {
    cursor: pointer;
}

.img-container {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}