<form [formGroup]="formGroup">
  <mat-radio-group aria-label="Select an option" formControlName="environmentCtrl">
    <div class="environments-content">
      <!-- Loop through each environment in the environments array -->
      <mat-card *ngFor="let environment of environments" class="environment-item">
        
        <div class="img-container" [style.background-image]="'url(' + environment?.image + ')'">
        </div>

        <mat-card-header>
          <mat-card-title>{{ environment.id }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <mat-radio-button [value]="environment.id" labelPosition="after">
            Select
          </mat-radio-button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-radio-group>
</form>