.sidenav {
    background-color: var(--secondary-color);
    margin: 20px;
    height: calc(100vh - 40px);
    width: 280px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.sidenav-item {
    display: flex;
    position: relative;
    top: 26px;
    height: 50px;
    align-items: center;
    padding-left: 26px;
}

.sidenav-item-selected {
    background-color: var(--primary-color);
    color: white;
}

.sidenav-item mat-icon {
    color: grey;
    margin-right: 16px;
}

.sidenav-item p {
    font-size: 18px;
    font-weight: 500;
}