.box-shadow {
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;    
}