.app {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
}

.app-content {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    max-height: 100vh;
    overflow-y: auto;
}