.header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header button:last-child {
    margin-left: auto;
    margin-right: 32px;
}

.tabs-container {
    width: 100%;
    display: flex;
}

.tabs-container h2 {
    margin-right: 32px;
    color: gray;
    font-weight: 500;
}

.tabs-container .active {
    color: black;
    font-weight: 700;
}

.tab-content {
    height: 80vh;
}

/*activity-list component*/
.activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
