.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--background-color);
    padding-top: 20px;
}

.sub-header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sub-header button:last-child {
    /* Empuja el último elemento al final */
    margin-left: auto;
    margin-right: 32px;
}

.tabs-container {
    width: 100%;
    display: flex;
}

.tabs-container h2 {
    margin-right: 32px;
    color: gray;
    font-weight: 500;
}

.tabs-container .active {
    color: black;
    font-weight: 700;
}

.tab-content {
    height: 80vh;
}

/*activity-list component*/
.activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.activity-item {
    background-color: var(--primary-color);
    width: 300px;
}

.activity-item:hover {
    cursor: pointer;
}

.activity-item img {
    width: 100%;
    height: 240px;
}

.activity-item .text-content {
    padding: 8px;
}

.activity-item p.title {
    font-weight: bold;
    font-size: 18px;
}

.activity-item p {
    margin-bottom: 10px;
}

.activity-item .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.activity-item button {
    width: 100%;
}
