<div class="header">
  <h1>Activities</h1>

  <div class="sub-header">
    <div class="tabs-container">
      <h2 class="tab" (click)="onTabClick('Public')" [class.active]="activeTab == 'Public'">Public</h2>
      <h2 class="tab" (click)="onTabClick('Conference')" [class.active]="activeTab == 'Conference'">Conference
      </h2>
      <h2 class="tab" (click)="onTabClick('Taller')" [class.active]="activeTab == 'Taller'">Taller</h2>
    </div>
    <button mat-raised-button color="primary">CREATE</button>
  </div>
</div>

<div class="tab-content" *ngIf="activeTab == 'Public'">

  <!-- <activity-list></activity-list> -->
  <div class="activity-list">
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
    <div class="activity-item">
      <img
        src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/24ebde5a-22c5-4ed4-a16b-d7aea08adfe5_scaled.jpg"
        alt="">
      <div class="text-content">
        <p class="title">Actividad General</p>
        <p class="Schedule">Horario: 10/05/2023 - 05:30</p>
        <p>Numero de usuarios: 8/20</p>
      </div>
      <div class="button-container">
        <button mat-raised-button>Inscribirse</button>
      </div>
    </div>
  </div>

</div>
<div class="tab-content" *ngIf="activeTab == 'Conference'">Conference</div>
<div class="tab-content" *ngIf="activeTab == 'Taller'">Taller</div>