.card {
    max-width: 300px;
    cursor: pointer;
}

.card img {
    height: 240px;
}

.card .text-content {
    padding-top: 8px;
}

.card-content {
    padding: 8px;
}

.card-content p.title {
    font-weight: bold;
    font-size: 18px;
}

.card-content p {
    margin-bottom: 5px;
}

.card .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.card button {
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
}