<form [formGroup]="formGroup">

  <div class="form-content">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title of activity" formControlName="titleCtrl" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description of activity" formControlName="descriptionCtrl" cdkTextareaAutosize
        cdkAutosizeMinRows="6" required>
              </textarea>
    </mat-form-field>
  </div>

  <div>
    <button mat-button matStepperNext color="primary" [disabled]="!formGroup.valid">Next</button>
  </div>
</form>