<div class="activity-list">
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
  <activity-item></activity-item>
</div>