<app-header>Create Activities</app-header>

<div class="app-create-activities">
  <mat-stepper #stepper linear>
    <mat-step [stepControl]="generalActivityDetailFormGroup" label="Detalles de la actividad">
      <app-general-activity-detail-form [formGroup]="generalActivityDetailFormGroup" />
    </mat-step>
    <mat-step [stepControl]="specificActivityDetailFormGroup" label="Horario y Participantes" >
      <app-activity-participants-form [formGroup]="specificActivityDetailFormGroup" />
    </mat-step>
    <mat-step [stepControl]="activityEnvironmentsFormGroup" label="Entornos">
      <app-activity-environments-form [formGroup]="activityEnvironmentsFormGroup" />
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary" (click)="createActivity()">CREATE</button>
    </mat-step>
  </mat-stepper>
</div>