.card {
    max-width: 300px;
    cursor: pointer;
}

.card img {
    height: 240px;
}

.card .text-content {
    padding-top: 8px;
}

.card-content {
    padding: 8px;
}

.card-content p.title {
    font-weight: bold;
    font-size: 18px;
}

.card-content p {
    margin-bottom: 5px;
}

.card .button-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
}