* {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Roboto", "Helvetica Neue", sans-serif;
}

:root {
    --primary-color: #323d76;
    --secondary-color: white;
    --background-color: rgb(243, 246, 255);
    --border-radius: 10px;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --font-size: 16px;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}