<div class="activity-participants">
  <div class="header-content">
    <h2>Participants</h2>
  </div>

  <div class="participants">
    <h3 class="header-content">Estudiantes (5/10):</h3>
    <div class="participants-list">
      <mat-card>
        <mat-card-content>Nombre de participante</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Nombre de participante</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Nombre de participante</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Nombre de participante</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Nombre de participante</mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="participants">
    <h3 class="header-content">Moderadores:</h3>
    <div class="participants-list">
      <mat-card>
        <mat-card-content>Nombre de moderador</mat-card-content>
      </mat-card>
    </div>
  </div>

</div>